@import '~antd/dist/antd.css';

html, body, #root, .App, .mapContainer {
    width: 100%;
    height: 100%;
}

body, .mapContainer {
    overflow: hidden;
}

#root, .pageContainer, .side {
    overflow: auto;
}

.pageContainer {
    margin: auto;
    max-width: 900px;
    min-width: 320px;
    background: none;
    height: auto;
    min-height: 100% !important;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mapContainer {
    display: flex;
    flex-wrap: wrap-reverse;
}

.side {
    width: 400px;
    height: 100%;
}

.map {
    position: relative;
    flex-grow: 1;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .mapContainer {
        overflow: auto;
    }
    .side, .map {
        width: 100%;
    }
    .map {
        height: 55%;
    }
    .side {
        height: 45%;
        overflow: initial;
    }
}
